<div class="login-background">

<!--CRÉDITOS DA IMAGEM DE FUNDO FIXO
Título: Particle Shape, Electric Blue, Blue, Fractal Art
Autor: Sweety Kate
Origem: Wallspic
URL da Imagem: https://wallspic.com/image/29879-particle-shape-electric_blue-blue-fractal_art/2560x1440
Página da Fonte: https://img1.wallspic.com/crops/9/7/8/9/29879/29879-particle-shape-electric_blue-blue-fractal_art-2560x1440.jpg-->

    <h1>HACKATON SENAC</h1>

    <h1 class="titulo-inferior">VIA APPIA</h1>

    <div class="container-imgs">
        <img class="img-esquerda" src="viaappia.webp" alt="Logo da empresa Via Appia">
        <img class="img-direita" src="logo-senac-menu-web.png" alt="Logo do Senac">
    </div>

    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="onSubmit()">

        <label>Email:
            <input 
                type="email" 
                formControlName="email"
                placeholder="Insira seu login de acesso" 
                class="login-input"
                [class.input-error]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        </label>

        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <span class="error-text">
                @if (loginForm.get('email')?.hasError('required')) { O email é obrigatório }
                @if (loginForm.get('email')?.hasError('email')) { Digite um email válido }
            </span>
        }

        <label>Senha:
            <input 
                type="password" 
                formControlName="password"
                placeholder="Insira sua senha" 
                class="login-input"
                [class.input-error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        </label>

        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <span class="error-text">
                @if (loginForm.get('password')?.hasError('required')) { A senha é obrigatória }
            </span>
        }

        <button type="submit" class="button login-button" [disabled]="loginForm.invalid">
            Entrar
        </button>
    </form>

</div>