.error-container {
    margin: 50px auto;
    text-align: center;
    max-width: 500px;
}

.emoticon {
    font-size: 5rem;
    margin: 0 0 1.5rem 0;
    color: var(--ui-sec);
}


h1 {
    font-size: 2.2rem;
    color: #1e293b;
    margin: 0 0 1rem 0;
    font-weight: 800;
}

p {
    font-size: 1.1rem;
    color: #475569;
    line-height: 1.6;
    margin: 0 0 2rem 0;
}

.btn-not-found {
    padding: 10px;
}

a {
    text-decoration: none;
}