/* Conteiner Pai */
.comments-page {
    height: calc(100vh - 170px);
    padding: 20px;
}

/* Header secundaria - dados da ocorrência */
.incident-container {
    background-color: var(--ui-bg-color);
    padding: 5px 15px;
    box-shadow: 3px 0px 3px 3px var(--shadow-color);
}

.align-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

.incident-summary {
    display: grid;
    flex-direction: column;
    gap: 8px;
    min-width: 300px;
    width: 100%;
    max-width: 1020px;
}

.incident-header-meta {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.meta-conteiner {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: flex-start;
    justify-content: start;
}

.incident-title {
    font-size: 16px;
    color: var(--ui-sec);
    font-weight: bold;
}

.header-description {
    font-size: 14px;
    color: var(--text-primary);
    line-height: 1.4;
    overflow-wrap: break-word;
    word-break: break-all;
    margin-top: 10px;
}

.header-description p {
    margin: 0;
}

.header-description span {
    font-weight: bold;
}

.header-id {
    background-color: var(--bg-light);
    color: var(--text-dark-muted);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}

.header-status {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-dark);
}

.header-autor {
    font-size: 13px;
    color: var(--text-gray-dark);
    background-color: var(--bg-lighter);
    padding: 2px 8px;
    border-radius: 4px;
}

.ordenacao-grupo label {
    color: var(--ui-sec);
    font-weight: bold;
}

.search-container {
    position: absolute;
    right: 0px;
}

/* Container de edição do comentario */
.edit-comments-container {
    background-color: var(--ui-bg-color);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 2px var(--shadow-color);
    height: 100%;
}

.comment-form {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-darker);
}

.comment-form textarea {
    min-height: 200px;
}

input[type=text] {
    border-radius: 4px 4px 0px 0px;
}

.form-button-container {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.button-commets {
    padding-inline: 20px;
}

/* Card do comentario */
.incident-card {
    background-color: var(--card-bg-light);
    border: 1px solid var(--bg-light);
    border-radius: 6px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    color: var(--text-gray-dark);
}

.card-desc {
    font-size: 14px;
    color: var(--text-darker);
    line-height: 1.4;
}

.card-footer {
    font-size: 11px;
    color: var(--text-gray-light);
    text-align: right;
}

.card-autor {
    color: var(--ui-sec);
    font-size: medium;
}