/* Fundo do modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Container */
.modal-content {
  background-color: var(--ui-bg-color);
  max-width: 400px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0px 4px 15px var(--modal-shadow);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-header {
  padding: 15px 20px;
  color: var(--text-white);
}

.modal-header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.modal-header.sucesso {
  background-color: var(--success-color);
}

.modal-header.erro {
  background-color: var(--error-color);
}

.modal-header.aviso {
  background-color: var(--warning-color);
}

.modal-body {
  padding: 20px;
  font-size: 15px;
  color: var(--text-dark); 
  line-height: 1.5;
}

.modal-footer {
  padding: 15px 20px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--ui-bg-color);
  border-top: 1px solid var(--border-light);
}

.modal-button {
  padding-inline: 15px;
}

.modal-content.is-loading {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

/* loading */
.loading-text {
    text-align: center;
    color: var(--text-white);
    font-size: 24px;
    font-weight: bold;
}